body {
    background-color: #f2b557;
    background-image: url(./Data/background\ img2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;


    font-family: "Tenor Sans", arial, sans-serif;
}

.titulo-telemovel {
    display: none;
}

li {
    list-style-type: none;
    margin: -1rem;
    margin-left: -3rem;
    padding: 0.5rem;
    background-color: #9197AA;
    width: 4rem;

    display: flex;
    justify-content: center;

}

nav img {
    display: block;
    transition:
        width 2s,
        height 2s,
        background-color 2s,
        rotate 2s;
}

nav img:hover {
    rotate: 360deg;
}

.foto {
    margin-top: -7rem;
    margin-left: 10rem;
}

p {
    font-size: medium;
    font-family: "Tenor Sans", arial, sans-serif;
    color: #c1521e;
    border: solid 0.15rem #c1521e;
    width: 10%;
    padding: 1rem;
    background-color: #f0d3a7;

    margin-bottom: 0rem;

    position: relative;
    bottom: 43rem;
    left: 80rem;

}



/* RESPONSIVIDADE */

@media (min-width: 300px) and (max-width: 599px) {

    /* Remove imagem de fundo */
    body {
        background-image: none !important;
        background-color: #f2b557;
    }


    .titulo-telemovel {
        display: block;
        text-align: center;
        font-size: 2.5rem;
        font-family: "Tenor Sans", arial, sans-serif;
        color: #C1521E;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        letter-spacing: 3px;
    }

    /* Ajuste NAV */
    nav ol {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin: 1rem;
    }

    nav img {
        width: 45px;
        height: 45px;
        opacity: 0.9;
    }

    li {
        background-color: #9197AA;
        width: 3.5rem;
        padding: 0.4rem;

        border-radius: 10px;
    }

    .foto {
        width: 60px;
        height: 200px;
        display: flex;
        justify-content: center;

        position: relative;
        top: 5rem;
        right: 2.4rem;
    }

    p {
        font-size: medium;
        font-family: "Tenor Sans", arial, sans-serif;
        color: #c1521e;
        border: solid 0.15rem #c1521e;
        width: 10%;
        padding: 1rem;
        background-color: #f0d3a7;

        margin-bottom: 0rem;

        position: relative;
        bottom: 43rem;
        left: 80rem;

    }
}