body {
    background-color: #f2b557;
    background-image: url(./Data/background\ img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 920px;

    font-family: "Tenor Sans", arial, sans-serif;
}

li {
    list-style-type: none;
    padding: 0.5rem;
    background-color: #9197AA;
    width: 4rem;

    display: flex;
    justify-content: center;

}

nav {
    display: flex;
    justify-content: baseline;
    position: relative;
    right: 3rem;
    bottom: 1.5rem;

    z-index: 2;
}

#frase-um {

    display: flex;
    justify-content: end;
    position: relative;
    right: 55rem;
    bottom: 20rem;


    text-align: center;
}

#frase-dois {

    display: flex;
    justify-content: end;
    position: relative;
    right: 16rem;
    bottom: 20rem;

    text-align: center;
}

#frase-tres {

    display: flex;
    justify-content: end;
    position: relative;
    right: 40rem;
    bottom: 12rem;

    text-align: center;
}

#frase-quatro {
    display: flex;
    justify-content: end;
    position: relative;
    right: 5rem;
    bottom: 0rem;

    text-align: center;
}

#frase-cinco {

    display: flex;
    justify-content: end;
    position: relative;
    right: 90rem;
    bottom: 30rem;

    text-align: center;
}

#frase-seis {
    display: flex;
    justify-content: end;
    position: relative;
    right: 70rem;
    bottom: 18rem;

    text-align: center;
}

#frase-sete {
    display: flex;
    justify-content: end;
    position: relative;
    right: 93rem;
    bottom: 15rem;

    text-align: center;
}

.frases {
    font-size: 120%;
    color: #C1521E;
    position: relative;
}


.titulo-telemovel {
    display: none;
}

/* RESPONSIVIDADE */

@media (min-width: 300px) and (max-width: 599px) {


    body {
        background-image: none !important;
        background-color: #f2b557;
    }

    .titulo-telemovel {
        display: block;
        text-align: center;

        position: relative;
        right: 1.5rem;

        font-size: 1.7rem;
        font-family: "Tenor Sans", arial, sans-serif;
        color: #C1521E;
        margin-bottom: 0.5rem;

    }

    nav {
        display: flex;
        justify-content: center;
    }

    ol {
        display: flex;
        justify-content: space-evenly;
        margin-right: 2.5rem;
    }

    nav img {
        width: 30px;
        height: 30px;
    }

    li {
        background-color: #9197AA;
        padding: 3px;
        border-radius: 5px;

        position: relative;
        right: 1.15rem;
    }


    .frases {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        color: #C1521E;
    }

    .frases p {
        text-align: center;
        line-height: 1;
        max-width: 100%;
        margin: 0 auto;
        transform: none !important;
    }

    #frase-um {
        display: flex;
        position: relative;
        right: 1.3rem;
        bottom: 0rem;

        text-align: center;
    }

    #frase-dois {
        position: relative;
        right: 1.3rem;
        top: 3rem;

        text-align: center;
    }

    #frase-tres {
        position: relative;
        right: 1.3rem;
        top: 5rem;

        text-align: center;
    }

    #frase-quatro {
        position: relative;
        right: 1.3rem;
        top: 7rem;

        text-align: center;
    }

    #frase-cinco {
        position: relative;
        right: 1.3rem;
        top: 9rem;

        text-align: center;
    }

    #frase-seis {
        position: relative;
        right: 1.3rem;
        top: 11rem;

        text-align: center;
    }

    #frase-sete {
        position: relative;
        right: 1.3rem;
        top: 13rem;

        text-align: center;
    }
}


@media (min-width: 600px) and (max-width: 799px) {

    body {
        background-image: none !important;
        background-color: #f2b557;
    }

    .titulo-telemovel {
        display: block;
        text-align: center;

        position: relative;
        right: 0.5rem;

        font-size: 3rem;
        font-family: "Tenor Sans", arial, sans-serif;
        color: #C1521E;
        margin-bottom: 0.5rem;

    }

    nav {
        display: flex;
        justify-content: center;
    }

    ol {
        display: flex;
        justify-content: space-evenly;
        margin-right: 2.5rem;
    }

    nav img {
        width: 50px;
        height: 50px;
    }

    li {
        background-color: #9197AA;
        padding: 3px;
        border-radius: 5px;

    }


    .frases {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        color: #C1521E;
    }

    .frases p {
        text-align: center;
        line-height: 1;
        max-width: 100%;
        margin: 0 auto;
        transform: none !important;
    }

    #frase-um {
        display: flex;
        position: relative;
        right: 1rem;
        bottom: 0rem;

        text-align: center;
    }

    #frase-dois {
        position: relative;
        right: 1rem;
        top: 3rem;

        text-align: center;
    }

    #frase-tres {
        position: relative;
        right: 1rem;
        top: 5rem;

        text-align: center;
    }

    #frase-quatro {
        position: relative;
        right: 1rem;
        top: 7rem;

        text-align: center;
    }

    #frase-cinco {
        position: relative;
        right: 1rem;
        top: 9rem;

        text-align: center;
    }

    #frase-seis {
        position: relative;
        right: 1rem;
        top: 11rem;

        text-align: center;
    }

    #frase-sete {
        position: relative;
        right: 1rem;
        top: 13rem;

        text-align: center;
    }
}

@media (min-width: 800px) and (max-width: 1400px) {
    body {
        background-color: #f2b557;
        background-image: url(./Data/background\ img1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 800px;

        font-family: "Tenor Sans", arial, sans-serif;
    }

    li {
        list-style-type: none;
        padding: 0.5rem;
        background-color: #9197AA;
        width: 4rem;

        display: flex;
        justify-content: center;
    }

    nav {
        display: flex;
        justify-content: baseline;
    }

    #frase-um {
        display: flex;
        justify-content: end;
        position: relative;
        right: 26rem;
        bottom: 20rem;


        text-align: center;
    }

    #frase-dois {
        display: flex;
        justify-content: end;
        position: relative;
        right: 4rem;
        bottom: 25rem;

        text-align: center;
    }

    #frase-tres {
        display: flex;
        justify-content: end;
        position: relative;
        right: 20rem;
        bottom: 20rem;

        text-align: center;
    }

    #frase-quatro {
        display: flex;
        justify-content: end;
        position: relative;
        right: 2rem;
        bottom: 17rem;

        text-align: center;
    }

    #frase-cinco {
        display: flex;
        justify-content: end;
        position: relative;
        right: 39.5rem;
        bottom: 27rem;

        text-align: center;
    }

    #frase-seis {
        display: flex;
        justify-content: end;
        position: relative;
        right: 25rem;
        bottom: 20rem;

        text-align: center;
    }

    #frase-sete {
        display: flex;
        justify-content: end;
        position: relative;
        right: 50rem;
        bottom: 20rem;

        text-align: center;
    }

    .frases {
        font-size: 120%;
        color: #C1521E;
    }


    .titulo-telemovel {
        display: none;
    }
}


@media (min-width: 1401px) and (max-width: 1500px) {
    body {
        background-color: #f2b557;
        background-image: url(./Data/background\ img1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 800px;

        font-family: "Tenor Sans", arial, sans-serif;
    }

    li {
        list-style-type: none;
        padding: 0.5rem;
        background-color: #9197AA;
        width: 4rem;

        display: flex;
        justify-content: center;
    }

    nav {
        display: flex;
        justify-content: baseline;
    }

    #frase-um {
        display: flex;
        justify-content: end;
        position: relative;
        right: 45rem;
        bottom: 20rem;


        text-align: center;
    }

    #frase-dois {
        display: flex;
        justify-content: end;
        position: relative;
        right: 4rem;
        bottom: 25rem;

        text-align: center;
    }

    #frase-tres {
        display: flex;
        justify-content: end;
        position: relative;
        right: 30rem;
        bottom: 20rem;

        text-align: center;
    }

    #frase-quatro {
        display: flex;
        justify-content: end;
        position: relative;
        right: 2rem;
        bottom: 10rem;

        text-align: center;
    }

    #frase-cinco {
        display: flex;
        justify-content: end;
        position: relative;
        right: 60rem;
        bottom: 27rem;

        text-align: center;
    }

    #frase-seis {
        display: flex;
        justify-content: end;
        position: relative;
        right: 40rem;
        bottom: 20rem;

        text-align: center;
    }

    #frase-sete {
        display: flex;
        justify-content: end;
        position: relative;
        right: 65rem;
        bottom: 20rem;

        text-align: center;
    }

    .frases {
        font-size: 120%;
        color: #C1521E;
    }


    .titulo-telemovel {
        display: none;
    }
}